{% extends "blog/base.html" %}
{% block content %}
	<h1>About Page</h1>

	<p>Welcome to the online development environment created by our team for the CS251 project. Here you have the feature of compiling and running code in Java,C++ and Python. This site also implements a server drive storage where a user has his personal storage directory in the server and can create new files in subfolders in his drive.</p>
	<p>To use the functionalities of this site, users have to register and login into their account.
Then to create a new file or folder simply go to the home page which shows the directory contents for a user and click on any target folder where the file or subfolder has to be created.</p>
<p>To open a code file in the editor, click on a file and then click on the option “Open in IDE”.
The user is redirected to the editor which has been formatted for use for the current file which is being edited. To run, simply click on the Compile & Run button and provide necessary input if required. The output is then displayed below.</p>

{% endblock content %}
